#whiteCanvas {
	background-color: white; 
	border-radius: 30px
}

#welcomeLabel {
	font-size: 45px;
	font-weight: bold
}

QComboBox#actionBox { 
	background-color: #e6e6e6; 
	border-radius: 5px;
} 

QComboBox#actionBox::drop-down { 
	border: 0

} 

QComboBox#actionBox::down-arrow { 
	image: url(./arrow.ico);
	width: 12px; 
	margin-right: 5px; 
	border: 0
}

#pathButton {
	background-color: #e6e6e6; 
	border-radius: 5px; 

}

#vmhostBox, #projectBox {
	background-color: #e6e6e6; 
	border-radius: 5px
}

#submitButton {
	text-align: center; 
	background-color: #464646; 
	color: white;
	border-radius:7px
}

#submitButton:hover {
	background-color: #5e5e5e;
}


#submitButton:hover {
	background-color: #808080;
}







